.header {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-flex {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 96px;

    @media screen and (min-width: 1200px) {
      gap: 315px;
    }
  }
}
