.hero {
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/headermobilmg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 0;
  padding-bottom: 0;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(/images/headermobolimg@2x.jpg);
    }
  }

  @media screen and (min-width: 590px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/headertabimg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: url(/images/headertabimg@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 970px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/headerdesimg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: url(/images/hedardesmg@2x.jpg);
      }
    }
  }
}
