$brand-color: #212121;
$text-color: #757575;
$background-color: #ffffff;
$background-second-color:#2f303a;
$backgroung-employees-color: #f5f4fa;
$icon-color: #afb1b8;
$logo-color: #000;
$link-color: #2196f3;
$button-color: #f5f4fa;






  

